<tw-storydata name="The quest for the holy Potato" startnode="1" creator="Twine" creator-version="2.3.5" ifid="DFDF4DE5-0D81-4055-949D-E53F7504DF55" zoom="1" format="Harlowe" format-version="3.1.0" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css"></style><script role="script" id="twine-user-script" type="text/twine-javascript"></script><tw-passagedata pid="1" name="THE QUEST FOR THE HOLY POTATO" tags="" position="709,185" size="200,100">A wild potato appears! How do you want to fry it?
[[Butter]] !!! [[Lard]] ??? [[Something Else]]</tw-passagedata><tw-passagedata pid="2" name="Butter" tags="" position="640,467" size="100,100">You choose butter.</tw-passagedata><tw-passagedata pid="3" name="Lard" tags="" position="790,486" size="100,100">You choose lard.</tw-passagedata><tw-passagedata pid="4" name="Something Else" tags="" position="1019,481.5" size="100,100">MUHAHAHA</tw-passagedata></tw-storydata>

